<a href="https://colab.research.google.com/github/LXM09790/ML_ASSIGNMENT2/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [79]:
#1. Use a python code to display the following star pattern using the for loop
for i in range(0,10):#this is loop is used for the iterate the loop that how many times required
  print("\n")
  if(i<=5):
    for j in range(0,i):#for the firsthalf pattern we use this loop
      print("*",end=" ")
  if(i>5):
    for k in range(i,10,1):#for the secondhalf pattern we use this loop
        print("*",end=" ")

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

In [87]:
#2.Use looping to output the elements from a provided list present at odd indexes.
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(len(my_list)+1):#to iterate the elements in the list based on the index
  if(i%2!=0):#To ger the odd index inn the list
    print(my_list[i],end=" ")

20 40 60 80 100

In [93]:
#3.Write a code that appends the type of elements from a given list.
x = [23, 'Python', 23.98]
Type=[]
for i in x:#To acces the elements in the List 
  Type.append(type(i))#it iused to append the type of values in the list
print(x)
print(Type)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [92]:
#4.Write a function that takes a list and returns a new list with unique items of the first list.
def uniqeList(list):
  list_set = set(list)#set function removes all the duplicate elements int the list
  return list_set
Sample_List= [1,2,3,3,3,3,4,5]
print("Sample List:",Sample_List)
print("Unique List:",list(uniqeList(Sample_List)))#we list function to convert set to list

Sample List: [1, 2, 3, 3, 3, 3, 4, 5]
Unique List: [1, 2, 3, 4, 5]

In [94]:
#5.Write a function that accepts a string and calculate the number of upper-case letters and lower-case letters. 
def count(string):
  #By using map() we can iterate the values without using for loop.
  print("No.of Upper-case characters: ",sum(map(str.isupper, string)))#isupper used to find the upper case letters
  print("No. of Lower-case characters: ",sum(map(str.islower, string)))#islower used to find the lower case letters.
Input_String= 'The quick Brow Fox'
count(Input_String)#function calling

No.of Upper-case characters:  3
No. of Lower-case characters:  12